@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;

}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1;

}
input, button, select, textarea {
    font-family: 'Poppins', sans-serif;
    outline: none;
    font-size: 14px;
}
button {
    cursor: pointer;
}
input {
    line-height: normal;
}


