.portfolio {
    margin-bottom: 150px;

    .portfolio-columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 40px;
        .portfolio-list{

            .portfolio-item {
                margin-bottom: 60px;
                .item-title {
                    color: $text-color;
                    margin-top: 30px;
                    margin-bottom: 20px;
                    line-height: 1.5;
                    font-weight: 800;
                    font-family: $second-font;
                    cursor: pointer;
                    padding: 0 5px;
                }

                .item-category {
                    font-size: 14px;
                    cursor: pointer;
                    font-family: $primary-font;
                }
            }
        }
    }

    .button-getstarted {
        position: relative;
        left: 50%;
        transform: translateX(-50%)
    }

}