body {
    font-size: 16px;
    line-height: 1;
    font-family: $primary-font;
    color: $gray-light;
    max-width: 1400px;
    margin: 0 auto;

}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}
.second-font {
    font-family: $second-font;
}
.btn {
    cursor: pointer;
    height: 55px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 0.8rem;
}
.btn--primary {
    background-color: #4944f2;
}
.btn--secondary {
    background-color: transparent;
    background-image: linear-gradient(to right, #f475a0, #feac3d);
}

.text-small {
    color: $gray-light;
    font-family: $primary-font;
    font-weight: 600;
    font-size: 14px;
}